server {
    listen 80;
    root /home/pi/eink_display_project/build;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location /api {
        include uwsgi_params;
        uwsgi_pass http://localhost:5000;
    }
}